@import './variables.scss';

:root {
  --primaryBase: #{$primaryBase};
  --primaryLighten1: #{$primaryLighten1};
  --primaryDarken1: #{$primaryDarken1};
  --primaryDarken2: #{$primaryDarken2};
  --greyBase: #{$greyBase};
  --greyDarken1: #{$greyDarken1};
  --greyLighten1: #{$greyLighten1};
  --greyLighten2: #{$greyLighten2};
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: white;
  background: var(--background);
  font-family: var(--font-reg), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 20px 70px 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
