$primaryBase: #b55d51;
$primaryLighten1: #fff0ed;
$primaryDarken1: #974e44;
$primaryDarken2: #793e37;

// rgb(135, 135, 135)
$greyBase: #878787;
$greyDarken1: #4c4c4c;
$greyLighten1: #a5a5a5;
// rgb(235, 235, 235)
$greyLighten2: #ebebeb;
